body{
    background-color: black;
}

p{
    color: white;
    font-size: 12px; /*Tamaño de la letra*/
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

header h1{
    color: blueviolet;
}

/* el # es para los identificadores */
#prueba{
    color: blue;
    font-size: xx-large;
}

.parrafo{
    color: brown;
}

a{
    margin: 50px;
}


<<<<<<< HEAD
cambiar e color cuando pasemos sobre el link
=======
cambiar de color cuando pasemos sobre el link
>>>>>>> main
a:hover{
    color: gold;
}

img{
    margin: auto;
    width: 50%;
}